body {
  font-family: "Sawarabi Mincho";
}

.title {
  font-weight: bold;
  font-size: 7vw;
  margin: 6vmin;
}

.parent_body {
  text-align: left;
  background-color: #f3f3f3;
  border: red solid 3px;
  border-radius: 10px;
}

.to {
  font-size: 6vw;
  padding: 4vmin;
}

.body {
  padding: 0 4vmin;
}

.from{
  text-align: right;
  font-size: 5vw;
  padding: 3vmin;
}

img {
  padding: 5vmin 0;
  width: 80vmin;
  height: 80vmin;
}